.container {
  display: grid;
  grid-gap: 20px;
  border: 10px solid var(--yellow);
  /* minmax() defines a size range greater than or equal to min and less than or equal to max. */
  /* REALLY USEFUL WITH AUTO-FIT */
  /* grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); */
  grid-template-columns: fit-content(100px) repeat(3, 150px)
}
